/* 10. about page css here */

.about_section {
	padding-bottom: 60px;
     @media #{$tablet-device}{
        margin-top: 57px;
    }
     @media #{$large-mobile}{
        margin-top: 57px
    }
    &.section_two{
        padding: 0 194px;
        & .about_thumb{
            text-align: center;
        }
        & .about_content{
            margin-bottom: 25px;
        }
    }
}

.about_thumb{
     @media #{$tablet-device}{
        margin-bottom: 20px;
    }
    @media #{$large-mobile}{
        margin-bottom: 19px;
    }
}
.about_content{
     @media #{$tablet-device}{
        text-align: center;
    }
     @media #{$large-mobile}{
        text-align: center;
    }
    & h1{
        font-weight: 500;
        line-height: 30px;
        text-transform: capitalize;
        font-size: 30px;
        margin-bottom: 19px;
        @media #{$tablet-device}{
            font-size: 27px;
            line-height: 25px;
            margin-bottom: 11px;
        }
         @media #{$large-mobile}{
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 12px;
        }
    }
    & p{
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 22px;
        @media #{$tablet-device}{
            line-height: 28px;
            margin-bottom: 10px;
        }
        @media #{$large-mobile}{
            font-size: 13px;
            line-height: 24px;
            margin-bottom: 11px;
        }
    }
}


.view__work {
    @media #{$large-mobile}{
        margin-top: 18px;
    }
    & a{
        border: 1px solid $fonts_color2;
        height: 40px;
        font-size: 13px;
        font-weight: 500;
        line-height: 38px;
        padding: 0 15px;
        display: inline-block;
        text-transform: uppercase;
        border-radius: 20px; 
        &:hover{
            background: $secondary_color;
            color: $body-color;
            border-color: $secondary_color; 
        }
        @media #{$tablet-device}{
            margin-top: 6px;
        }
        @media #{$large-mobile}{
            height: 33px;
            font-size: 12px;
            line-height: 31px;
        }
    }
	
}


.counterup_section{
    padding-bottom: 30px;
}
.counter_img {
	margin-right: 20px;
    @media #{$large-mobile}{
        margin-right: 10px;
    }
}
.single_counterup {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #f3f3f3;
	padding: 88px 0 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
}
.about_section.section_two {
	padding: 25px 20px 18px;
}
.counter_info{
    & h2{
       font-size: 30px;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 33px;
        margin-bottom: 0; 
        @media #{$large-mobile}{
            font-size: 22px;
            line-height: 30px;
        }
    }
    & p{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 24px;
        @media #{$large-mobile}{
            font-size: 11px
        }
    }
}


.about_progressbar {
	padding-bottom: 60px;
    @media #{$desktop-device}{
        padding-bottom: 70px;
    }
    @media #{$tablet-device}{
        padding-bottom: 70px;
    }
    &.about_prog{
        background-color: $secondary_color; 
	    border-radius: 3px;
        & span{
            &.progress_persent{
                position: absolute;
                left: 50px;
                text-transform: uppercase;
            }
        }
    }
    &.porgress_two{
        padding: 5px 20px 35px;
    }
}




.progressbar_inner{
    @media #{$large-mobile}{
        margin-bottom: 40px;
    }
    & h2{
        font-size: 25px;
        margin-bottom: 40px;
        font-weight: 400;
        line-height: 18px;
        @media #{$tablet-device}{
            font-size: 21px;
            margin-bottom: 27px;
        }
        @media #{$large-mobile}{
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
	
}
.progress_skill {
	position: relative;
	margin-bottom: 40px;
    @media #{$tablet-device}{
        margin-bottom: 33px;
    }
    &:last-child{
        margin-bottom: 0;
    }
    & span{
        &.progress_discount{
            position: absolute;
            left: -2px;
            background:  $fonts_color;
            border-radius: 100%;
            border: 3px solid rgb(123, 123, 123);
            color: #fff;
            width: 40px;
            height: 40px;
            top: 50%;
            -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
            text-align: center;
            line-height: 35px;
            z-index: 9;
        }
    }
    & .progress-bar{
        background-color: rgb(123, 123, 123);
        text-align: left;
        padding-left: 50px;
        
    }
}



.progress_skill.one{
    & .progress-bar{
        width: 60%;
    }
}

.progress_skill.two{
    & .progress-bar{
        width: 90%;
    }
}


.progress_skill.three{
    & .progress-bar{
        width: 70%;
    }
}

.progress_skill.four{
    & .progress-bar{
        width: 80%;
    }
}
/*about page css end*/






